/*
 * This file will contain all _app specific styles and colors
 */

:root{
	/* Orange shades - Main app colour scheme */
	--lightest: #FDF8F2;
	--light: #dfffdf;
	--light-mid: #c7e0c8;/* Light salmon */
	--mid: #84bb87;/* Orange (crayola) */
	--mid-dark: #5ca560; /* Vivid orange */
	--dark: #315933;/* Burnt orange */

	--rgb_toast_color: rgba(49, 89, 51, 0.95);
	--rgb_upload_surround: rgba(49, 89, 51, 0.7);

	--bg-gen: #89cc68;/* May green */
	--bg-gen-hover: #7CB85E;/* India green */

	--tx-gen-hover: #242424;

	--tx-black: #000000;/* Black */
	--tx-dark: #565656;/* Dark grey */
	--tx-mid: #9D9C9C;/* Mid grey */
	--tx-light: #A09F9F;/* Quick silver */
	--tx-white: #FFFFFF;/* White */

	--grey-black: #111111;
	--grey-dark: #333333;
	--grey-mid: #666666;
	--grey-light: #AAAAAA;
	--grey-lightest: #EEEEEE;

	--grey-border: var(--grey-light);/*border*/

	--cal-entry: #244488;
	--cal-appt: var(--bg-ncs-mid);
	--cal-rec: var(--bg-rec-mid);

	--cal-today-bg: var(--dark);
	--cal-on-bg: var(--mid);
	--cal-weekend-bg: var(--light);

	--btn-bg: var(--light);
	--btn-bg-hover: #d9e8ce;

	--btn-text: var(--grey-dark);
	--btn-text-hover: pink;

	--btn-border: var(--grey-border);

	--error: #cd0a0a;

	--header-height: 50px;
	--footer-height: 20px;
	--nav-width: 180px;
}

