/*
 * This file will contain all _app specific styles and colors
 */

:root{
	/* Main app colour scheme */
	--white: #FFFFFF; /* 100% */
	--s95pc: #eff6ef; /* 95% lightest */
	--s90pc: #deeddf; /* 90% */
	--s85pc: #cee4cf; /* 85% */
	--s80pc: #bddbbf; /* 80% lighter */
	--s75pc: #add2af; /* 75% */
	--s70pc: #9cc99f; /* 70% */
	--s65pc: #8cc08e; /* 65% light */
	--s60pc: #7bb77e; /* 60% */
	--s55pc: #6bae6e; /* 55% */
	--s50pc: #5ba45e; /* 50% light-mid */
	--s45pc: #519455; /* 45% */
	--s40pc: #48844b; /* 40% */
	--s35pc: #3f7342; /* 35% mid */
	--s30pc: #366339; /* 30% */
	--s25pc: #2d522f; /* 25% */
	--s20pc: #244226; /* 20% mid-dark */
	--s15pc: #1b311c; /* 15% */
	--s10pc: #122113; /* 10% dark */
	--s05pc: #091009; /* 05% */
	--black: #000000; /* 00% */

	--rgb_toast_color: rgba(49, 89, 51, 0.95);
	--rgb_upload_surround: rgba(49, 89, 51, 0.7);

	--grey-black: #111111;
	--grey-dark: #333333;
	--grey-mid: #666666;
	--grey-light: #AAAAAA;
	--grey-lightest: #EEEEEE;

	--grey-border: var(--grey-light);/*border*/

	--btn-bg: var(--s65pc);
	--btn-bg-hover: #d9e8ce;

	--btn-text: #fff;
	--btn-text-hover: pink;

	--btn-border: var(--grey-border);

	--error: #cd0a0a;

	--header-height: 50px;
	--header-offset: 52px;
	--footer-height: 15px;
	--footer-fontsize: 8pt;
	--nav-menu-width: 210px;
	--p-line-height: 26px;
}

.grey-light{background-color: var(--grey-light);}
.grey-mid{background-color: var(--grey-mid);}
.grey-dark{background-color: var(--grey-dark);}

.error{background-color: transparent; color: var(--error);}
.alert{color: red; font-weight: bold;}