/*
 * This file will contain all _app specific styles and colors
 */

:root{
	/* Main app colour scheme */
	--white: #FFFFFF; /* 100% */
	--s95pc: #eff6ef; /* 95% lightest */
	--s90pc: #deeddf; /* 90% */
	--s85pc: #cee4cf; /* 85% */
	--s80pc: #bddbbf; /* 80% lighter */
	--s75pc: #add2af; /* 75% */
	--s70pc: #9cc99f; /* 70% */
	--s65pc: #8cc08e; /* 65% light */
	--s60pc: #7bb77e; /* 60% */
	--s55pc: #6bae6e; /* 55% */
	--s50pc: #5ba45e; /* 50% light-mid */
	--s45pc: #519455; /* 45% */
	--s40pc: #48844b; /* 40% */
	--s35pc: #3f7342; /* 35% mid */
	--s30pc: #366339; /* 30% */
	--s25pc: #2d522f; /* 25% */
	--s20pc: #244226; /* 20% mid-dark */
	--s15pc: #1b311c; /* 15% */
	--s10pc: #122113; /* 10% dark */
	--s05pc: #091009; /* 05% */
	--black: #000000; /* 00% */

	--p95pc: #f9ecf2; /* 95% lightest */
	--p90pc: #f2d9e6; /* 90% */
	--p85pc: #ecc6d9; /* 85% */
	--p80pc: #e6b3cc; /* 80% lighter */
	--p75pc: #df9fbf; /* 75% */
	--p70pc: #d98cb3; /* 70% */
	--p65pc: #d279a6; /* 65% light */
	--p60pc: #cc6699; /* 60% */
	--p55pc: #c6538c; /* 55% */
	--p50pc: #bf4080; /* 50% light-mid */
	--p45pc: #ac3973; /* 45% */
	--p40pc: #993366; /* 40% */
	--p35pc: #862d59; /* 35% mid */
	--p30pc: #73264d; /* 30% */
	--p25pc: #602040; /* 25% */
	--p20pc: #4d1933; /* 20% mid-dark */
	--p15pc: #391326; /* 15% */
	--p10pc: #260d1a; /* 10% dark */
	--p05pc: #13060d; /* 05% */

	--db90pc: #d9d9f2;
	--db80pc: #b3b3e6;
	--db70pc: #8c8cd9;
	--db60pc: #6666cc;
	--db50pc: #4040bf;
	--db40pc: #333399;
	--db30pc: #262673;
	--db20pc: #19194d;
	--db10pc: #0d0d26;

	--rgb_toast_color: rgba(49, 89, 51, 0.95);
	--rgb_upload_surround: rgba(49, 89, 51, 0.7);

	--grey-black: #111111;
	--grey-dark: #333333;
	--grey-mid: #666666;
	--grey-light: #AAAAAA;
	--grey-lightest: #EEEEEE;

	--grey-border: var(--grey-light);/*border*/

	--btn-bg: var(--s65pc);
	--btn-bg-hover: #d9e8ce;

	--btn-text: #fff;
	--btn-text-hover: pink;

	--btn-border: var(--grey-border);

	--error: #cd0a0a;

	--header-height: 50px;
	--header-offset: 52px;
	--header-offset_neg: -58px;
	--footer-height: 15px;
	--footer-fontsize: 8pt;
	--nav-menu-width: 200px;
	--nav-menu-offset-side: 210px;
	--nav-menu-offset-top: 53px;
	--p-line-height: 26px;
}

.grey-light{background-color: var(--grey-light);}
.grey-mid{background-color: var(--grey-mid);}
.grey-dark{background-color: var(--grey-dark);}

.error{background-color: transparent; color: var(--error);}
.alert{color: red; font-weight: bold;}