@CHARSET "ISO-8859-1";

div.topic,
div.topic > div{
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;
}

div.topic > div{
	width: 45%;
	padding: 10px;
}

div.list, div.list div{
	display: flex;
	flex-flow: column wrap;
}


ul.puzzle_container{
	list-style-type: none;
}

ul.puzzle_container > li{
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	flex: 1;
}

ul.puzzle_container > li > div{
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-self: flex-start;
}

ul.puzzle_container > li > div.label{
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;
	min-width: 43px;
	width: 43px;
	margin: 0 0 7px 0;
	font-weight: normal;
	opacity: 30%;
}


ul.puzzle_container > li > div.text{
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	align-items: flex-start;
	width: 90%;
	height: auto;
	margin: 5px 0 7px 0;
	color: var(--s25pc);

}

ul.blank{
	list-style: none;
}

li.line{
	border: 0;
	border-radius: 0;
	border-bottom: 1px solid var(--s25pc);
}



div.full{width: 100%; height: 20px;}

li.instructions{
	display: flex;
	flex-flow: column wrap;
	border-radius: 4px;
	margin-bottom: 2px;
	min-height: 50px;
	flex: 1 1 auto;
	border: 1px solid var(--s25pc);
}

.topic-label{
	font-family: Tahoma, Geneva, sans-serif;
	color: var(--s25pc);
	font-size: 12pt;
}

.topic-title-text{
	font-family: Tahoma, Geneva, sans-serif;
	color: var(--s95pc);
	font-size: 15pt;
}

@media only screen and (max-width: 600px) {
	.topic-label{font-size: 2vw;}
	.topic-title-text{font-size: 2.3vw;}
	.nav_arrow{width: 8vw;}
	img#main-logo {width: 45vw; height: auto;}
	img#navburger {width: 2.0vw; height: auto;}
	img#navburger:hover {width: 2.1vw; height: auto;}
	img#navswitch {width: 2.0vw; height: auto;}
	img#navswitch:hover {width: 2.1vw; height: auto;}
	header.fixed-header {height: 25px; overflow:hidden;}
	div#maincontent{top: 27px;}
}



div.canvas{
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;
	min-width: 630px;
	max-width:630px;
	width: 50%;
}

div.instructions{
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;
	width: 50%;
}

figure.hp{
	display: inline-flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	align-items: center;

}

figure.hp > img{
	display: inline-flex;
	justify-contents: flex-start;
	align-items: center;
	border: 2px solid var(--s25pc);
	border-radius: 4px;
	margin-bottom: 5px;
}

figure.hp > figcaption{
	display: inline-flex;
	margin-bottom: 20px;
}

