/* START CALENDAR STYLES */
/*Used in the calendar*/
ul.form-list li.cal-header{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	border: 1px solid var(--grey-light);
	background-color: var(--light);
	white-space: nowrap;
	overflow: auto;
}

div#other-cal{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	padding: 0; margin: 0;
	padding-left: 5px;
	white-space: nowrap;
}

div#cal-buttons{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	padding: 0;
	margin: 0;
}

div#cal-nav-container{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	margin:0;
	padding:0;
	background-color:var(--light);
	white-space: nowrap;
	border: 0px solid red;
}

form#cal_nav{width: 100%; white-space: nowrap;}

#cal-nav-container select {
	width:100px;
	margin:0;
	margin-bottom:5px;
	padding:5px;
	vertical-align:bottom;
}
#cal-nav-container img{vertical-align:bottom;}

button#cal-add-new{white-space: nowrap;}
button#cal-add-new{min-width:180px;}
button#lesson-add-new{min-width:130px;}



#cal-wrapper{
	display: grid;
	width: auto;
	grid-template-columns: 16% 16% 16% 16% 16% 10% 10%;
	grid-template-rows: auto auto;
	grid-row-gap: 2px;
	grid-column-gap:2px;
	background-color: #fff;
	margin-right: 12px;

}


#cal-wrapper div{
	border: 1px solid var(--grey-light);
	color: #111;
	border-radius: 4px;
	padding: 5px;
	text-align:left;
}

select.set{height: 30px;}

#cal-wrapper div.day-titles{
	font-weight:bold;
	text-align:center;
	font-size:13pt;
	background-color:var(--mid);
	color:#000;
	border: 1px solid var(--grey-light);
}

#cal-wrapper div.mon {grid-area: 1 / 1 / 2 / 2;}
#cal-wrapper div.tue {grid-area: 1 / 2 / 2 / 3;}
#cal-wrapper div.wed {grid-area: 1 / 3 / 2 / 4;}
#cal-wrapper div.thu {grid-area: 1 / 4 / 2 / 5;}
#cal-wrapper div.fri {grid-area: 1 / 5 / 2 / 6;}
#cal-wrapper div.sat {grid-area: 1 / 6 / 2 / 7;}
#cal-wrapper div.sun {grid-area: 1 / 7 / 2 / 8;}



#cal-wrapper div#r1c1 {grid-area: 2 / 1 / 3 / 2;}
#cal-wrapper div#r1c2 {grid-area: 2 / 2 / 3 / 3;}
#cal-wrapper div#r1c3 {grid-area: 2 / 3 / 3 / 4;}
#cal-wrapper div#r1c4 {grid-area: 2 / 4 / 3 / 5;}
#cal-wrapper div#r1c5 {grid-area: 2 / 5 / 3 / 6;}
#cal-wrapper div#r1c6 {grid-area: 2 / 6 / 3 / 7;}
#cal-wrapper div#r1c7 {grid-area: 2 / 7 / 3 / 8;}

#cal-wrapper div#r2c1 {grid-area: 3 / 1 / 4 / 2;}
#cal-wrapper div#r2c2 {grid-area: 3 / 2 / 4 / 3;}
#cal-wrapper div#r2c3 {grid-area: 3 / 3 / 4 / 4;}
#cal-wrapper div#r2c4 {grid-area: 3 / 4 / 4 / 5;}
#cal-wrapper div#r2c5 {grid-area: 3 / 5 / 4 / 6;}
#cal-wrapper div#r2c6 {grid-area: 3 / 6 / 4 / 7;}
#cal-wrapper div#r2c7 {grid-area: 3 / 7 / 4 / 8;}

#cal-wrapper div#r3c1 {grid-area: 4 / 1 / 5 / 2;}
#cal-wrapper div#r3c2 {grid-area: 4 / 2 / 5 / 3;}
#cal-wrapper div#r3c3 {grid-area: 4 / 3 / 5 / 4;}
#cal-wrapper div#r3c4 {grid-area: 4 / 4 / 5 / 5;}
#cal-wrapper div#r3c5 {grid-area: 4 / 5 / 5 / 6;}
#cal-wrapper div#r3c6 {grid-area: 4 / 6 / 5 / 7;}
#cal-wrapper div#r3c7 {grid-area: 4 / 7 / 5 / 8;}

#cal-wrapper div#r4c1 {grid-area: 5 / 1 / 6 / 2;}
#cal-wrapper div#r4c2 {grid-area: 5 / 2 / 6 / 3;}
#cal-wrapper div#r4c3 {grid-area: 5 / 3 / 6 / 4;}
#cal-wrapper div#r4c4 {grid-area: 5 / 4 / 6 / 5;}
#cal-wrapper div#r4c5 {grid-area: 5 / 5 / 6 / 6;}
#cal-wrapper div#r4c6 {grid-area: 5 / 6 / 6 / 7;}
#cal-wrapper div#r4c7 {grid-area: 5 / 7 / 6 / 8;}

#cal-wrapper div#r5c1 {grid-area: 6 / 1 / 7 / 2;}
#cal-wrapper div#r5c2 {grid-area: 6 / 2 / 7 / 3;}
#cal-wrapper div#r5c3 {grid-area: 6 / 3 / 7 / 4;}
#cal-wrapper div#r5c4 {grid-area: 6 / 4 / 7 / 5;}
#cal-wrapper div#r5c5 {grid-area: 6 / 5 / 7 / 6;}
#cal-wrapper div#r5c6 {grid-area: 6 / 6 / 7 / 7;}
#cal-wrapper div#r5c7 {grid-area: 6 / 7 / 7 / 8;}

#cal-wrapper div.cell-top{
	display:flex;
	justify-content:stretch;
	align-items:stretch;
	padding:0;
	margin:0;
	border:0;
}

#cal-wrapper div.cell-top a{
	background-color:var(--mid);
	border: 1px solid var(--grey-mid);
	line-height:18px;
	padding:2px;
	padding-top:5px;
	margin:1px;
}

#cal-wrapper div.cell-top div.day{
	width:100%;
	overflow:hidden;
	white-space:nowrap;
	background-color: var(--light-mid);
}

#cal-wrapper div.cell-top div.today{
	background-color:var(--cal-today-bg);
	border: 1px solid var(--grey-mid);
}

#cal-wrapper div.cell-top div.print{
	width: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--light-mid);
	overflow: hidden;
	margin-left: 1px;
}
#cal-wrapper div.cell-top div.print a{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--mid);
	overflow: hidden;
	margin: 0;padding: 0;
}

#cal-wrapper div a{text-decoration: none;}

#cal-wrapper div.blank{background-color: #ccc;}
#cal-wrapper div.other{background-color: var(--light);}
#cal-wrapper div.weekend{background-color: var(--cal-weekend-bg);}
#cal-wrapper div.today{background-color: var(--cal-today-bg);}
#cal-wrapper div.on{background-color: var(--cal-on-bg);}

.cal-entry{
	display: flex;
	justify-content: space-between;
	margin-top: 2px;
	margin-bottom: 1px;
	border: 1px solid var(--btn-border);
	background-color:  var(--cal-entry);
	color: var(--cal-text);
	font-weight: bold;
	padding: 5px;
	overflow: auto;
}

span.div{
	display: flex;
	padding: 3px;
}




/* END CALENDAR STYLES*/
