
div#logincontainer{
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	width: 80%;
	height:auto;
	padding: 20px;

}

div#logincontainer > div.inner{
	display: flex;
	flex-flow: column nowrap;
	width:480px;
	align-items: flex-start;
	align-self: center;
	border-radius: 4px;
	border:1px solid var(--s25pc);
	padding: 20px;
}

div#logincontainer > div.inner > div.row{
	display: flex;
	flex-flow: row nowrap;
	margin: 10px;
}

div#logincontainer > div.inner > div.row > div.label{justify-content: flex-end; width: 80px;}
div#logincontainer > div.inner > div.row > div.input{justify-content: flex-end; width: 300px;}
div#logincontainer > div.inner > div.row > div.button{width: 30px;}

div#logincontainer > div.inner > div.row > div.input > input[type = text],
div#logincontainer > div.inner > div.row > div.input > input[type = password]{
	margin:0;
	height: 28px;
	width: 100%;
}

button#login{
	background:
	var(--btn-bg)
	url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABmJLR0QA/wD/AP+gvaeTAAACk0lEQVQ4EbWUS2gTURSG70wmQUFEY6tmoVQwRdSFggoiiIogWVgEBUEEH0ECKpGWLgKhyURIslAUQcSIBV8rcadGLIqgwVekC+1CxG60NgUFsVYwj5nxu3lcmlaDFRz+f/5z/nPvuffOZKIJ0fpKpVLtpVLJp+u65fF4RiKRyLdWM7TfFU3TbMPvgXugHzbgEAzCm/AC4ybQJkxrmEgkDjmOc4ZR8+ArmNU0bQzV8Zeiu2An/IwfjMfjt4kVmhqy4ikqvfAlPEH+HJ0G/C7Ms7CDpkdpmiGuQjVkZ0F2cBn3ltfr3R8Oh4vEfwRN2yhm4VoYIH+AimpDEll8jzEMN5H/RBVisVjAMIwvaF6ZBMlk0lculwcJv8OVzKvoBBLd3ObyJo9jNjUjP4iftW37KfEWMemKRqMF0j7o5+h7UdFouI8kzw6eoQo8hgMk/bAELXiHpptRBZ/Pd5XkK4+r1pDf2QKMDiHEQ6hAs90M6scYQsfQF3Ac3qXpOrSKUChUJsjB9VDolUplsQzgCFSgyTKSHD/m7RzHIv4Bt8Fh8iXoZHwgaWchw6BokwjUJbVBiqeJJYVpmkJe6Ft0DZyKxlxbd7vdo1RtdrQc/Vd0MvETC9p6/dt8gxGAGpwR0un0fCZshE+gess3SPy8iC50RigWi8eYMJtHdh1VDS+SjHLsc2x7IfFfgbHyeUYYnOPzG0BrDSlMsMJhDPn2BvgCFhG3BHNWM+AetGAQOrDWUAascB+VhVV8TkMc/wiTPHhNwJtDrQ9T/oHMQnfivUOr0Kv3+o3CFSHEVjjO8S+x627iqThP7STma5fLtYE5j4kVDBXVAwbkMpnMikKhsIM/hHzd/ohKCpokLcu6xrhHeA78v/gFPtnyGAQx2UsAAAAASUVORK5CYII=)
	95% center
	no-repeat;
}


.err{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	color: #f00;
	font-weight: bold;
	margin-top: 5px;
}
