@CHARSET "ISO-8859-1";

p{
	margin: 10px 0 10px 0;
	line-height: 18px;
}

ul.topic_example, ul.topic_exercise{
	list-style: none;
	margin: 10px;
	width: 98%;
}

.green{
	display: flex;
	align-items: center;
}

.green h3{
	color: var(--dark);
	margin-left: 5px;
	font-weight: normal;
}

.open{
	display: flex;
}

.topic_example > li, .topic_exercise > li{
	display: flex;
	border-radius: 4px;
	margin-bottom: 2px;
	border: 1px solid var(--dark);
}

.topic_example > li > div{
	display: flex;
	padding: 5px;
}

.topic_example > li > div > div{
	display: flex;
	padding: 0px;
}

.topic_example > li > div.label{
	text-align: right;
	font-weight: bold;
	width: 10%;
}

.topic_example > li > div.text{
	width: 45%;
}

.topic_example > li > div.note{
	display: flex;
	flex-direction: column;
	width: 45%;
}

/* TOPIC EXERCISE CLASSES*/
.topic_exercise > li > div.label{
	display: flex;
	font-weight: bold;
	width: 5%;
}

.topic_exercise > li > div.question{
	display: flex;
	justify-content: flex-start;
	width: 45%;
	margin-left: 40px;
}

.topic_exercise > li > div.answer{
	display: flex;
	justify-content: flex-start;
	width: 45%;
}

.topic_exercise > li > div.eye{
	display: flex;
	justify-content: center;
	width: 5%;
}

ul.indent{
	margin-left: 25px;
	list-style-type: disc;
}

ol.indent{ margin-left: 25px;}

div.topic{
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;
}

div.topic > div{
	display: flex;
	flex-flow: row wrap;
	width: 45%;
	padding: 10px;
	border: 0px dotted pink;
}