@CHARSET "ISO-8859-1";

*{
	border-color: var(--grey-border);
	font-family:Times New Roman, serif;
	font-size: 12pt;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4{
	font-family: Tahoma, Geneva, sans-serif;
}

h1{font-size: 40pt;}
h2{font-size: 30pt;}
h3{font-size: 20pt;}
h4{font-size: 15pt;}

body{
	margin: 0;
	width: 100%;
	height: 100%;
}

img{border: 0; border-radius: 0;}

header {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: flex-start;
	height: var(--header-height);
	border-radius: 0;
	padding-bottom:3px;
	z-index: 1000000;
}

footer{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	border-radius: 0;
}

a{
	color: var(--dark);
	text-decoration: none;
}

a:hover{
	color: var(--mid);
}

a.gen {background-color: var(--bg-gen);}

h1{font-size: 24px; margin: 5px 0 10px 0;}
h2{font-size: 18px; margin: 5px 0 7px 0;}
h3{font-size: 15px; margin: 5px 0 5px 0;}
